# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.txt

# Editor backups
*~

# all emulated disk files since they are a) huge and b) contain non public data
disk/*

# original B5500 tapes since they are not public
tapes/B5500*

# cards
cards/*


